@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

.main-title-font{
  font-family: 'Pacifico', cursive !;
}
/*.navbar-default {
    background-color: rgba(000,000,000,0.35);
    height: 100px;
}*/

.form-group{
    position: absolute;
    top: 0;
    padding-top:23px;
    right:0;
    padding-right: 45px;
    width: 500px;
    border: none;
}

.transparent-input{
    background-color: rgba(000,000,000,0.2);
    border: none;
    height: 50px;
    color: white;
    font-size: 20px;
    position: inline;
}

#rmrTitle {
    /*color: floralwhite;*/
    position: inline;
    padding-bottom: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;

}

body {
    /*background-color: #b84d45;*/
    background-color: white;
    /*background-image: url(../images/classy-fabric.png);*/
}
/*.navbar{
    border: none;
}*/

footer {
    display: block;
    position: fixed;
    width:500px;
    left: 0;
    margin-top: 0;
    bottom: 0;
    text-align: center;
    height: auto;
    background-color: rgba(000,000,000,0.65);

}

footer #footer-links {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    font-size: 15px;
    bottom: 0;
    text-align: center;
}

footer #footer-links #each-link {
    text-transform: lowercase;
    letter-spacing: 2px;
}

footer #footer-links #each-link a {
    color:floralwhite;
    margin: 12px;

}

footer #footer-links ul {
    margin: 0;
    list-style: none;
   padding: 10px;
}

.navbar-height{
  height: 100px;
}

li {
    display: inline;
}

.home-icon{
    font-size: 200px !important;
    color: #26A69A;
    position: relative;

}

.landlord-icon{
  font-size: 200px !important;
    color: #e62739;
}

.rate-icon{
  font-size: 200px !important;
    color: #e62739;
}
.homepage-icons{
  text-align: center;
}
.icon-heading{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

#homepageButtons {
    padding-top: 70px;
}
